*{
  margin: 0px;
  padding: 0px;
}
.cabecalho{
    background-color: #000000f1;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}
  .imagem-cabecalho{
    width: 25%;
  }
  .cabecalho-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
  }